<section class="home-section">
  <div class="content">
    <h1 class="typing-text">Hi, I'm Magdaline Chepkosgei</h1>
    <h2>Software Engineer</h2>
    <p>
      I build clean,scalable, and efficient web applications using Angular and
      Ruby on Rails
    </p>

    <div class="cta-buttons">
      <a routerLink="/contact" class="btn-primary">Let's Connect</a>
      <a routerLink="/projects" class="btn-outline">View Projects</a>
    </div>

    <div class="image-content" >
      <img src="images/magdaline.jpg" alt="Magdaline Chepkosgei"/>

    </div>
  </div>
</section>
